# Ignore everything by default
*
*/

# Keep configuration directories
!.gitignore
!waybar/
!hypr/
!theme/
!kitty/
!waypaper/

# Keep config files in tracked directories
!waybar/**
!hypr/**
!theme/**
!kitty/**
!waypaper/**
